@import "../../foundation";

.itemCard {
  background-color: $gray-bg;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 20px;
  height: 50vh;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.1s;

  padding: 1.5rem;

  &.small {
    height: 30vh;
    width: 30vw;
  }

  * {
    margin: 0;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .itemImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;

    img {
      object-position: center;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .itemInfo {
    margin-top: 1rem;
    font-size: 0.8rem;

    .itemPrice {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        margin-left: 10px;
        font-family: "Kameron";
        font-weight: 500;
      }
    }
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    .itemImage img {
      filter: drop-shadow(0 0 3rem gold);
      animation: breathing 2s infinite;
    }
  }

  @keyframes breathing {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
